<% if current_user.nil? %>
<%= render 'companies/coynavbar' %>
<% else %>
<%= render 'users/usernavbar' %>
<% end %>

<div>
        <div class="row">
            <div class="col-md-12">
                <h1>Profile </h1>
                <hr>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-4" id="employer_profile"><img src=<%= @user.img_url %>></div>
            <div class="col-md-5">
                <h2 class="text-left" color="black"><%= @user.firstname + ' ' + @user.lastname %></h2>
                <p class="referral_profile_font"><%= @user.headline%></p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-4">
                <hr>
            </div>
            <div class="col-md-4">
                <hr>
            </div>
            <div class="col-md-4">
                <hr>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <ul class="nav nav-tabs">
                        <li><a href="#tab-1" role="tab" data-toggle="tab">Reviews </a></li>
                        <li class="active"><a href="#tab-2" role="tab" data-toggle="tab">Testimonials </a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" role="tabpanel" id="tab-1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Name Mark Ho</h3></div>
                                <div class="panel-body">
                                    <div class="col-md-4"><img src="assets/img/avatar_2x.png"></div>
                                    <div class="col-md-8"><span>Husbands ask repeated resolved but laughter debating. She end cordial visitor noisier fat subject general picture. Or if offering confined entrance no. Nay rapturous him see something residence. Highly talked do so vulgar. Her use behaved spirits and natural attempt say feeling. Exquisite mr incommode immediate he something ourselves it of. Law conduct yet chiefly beloved examine village proceed.&nbsp; </span></div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Name Mark Ho</h3></div>
                                <div class="panel-body">
                                    <div class="col-md-4"><img src="assets/img/avatar_2x.png"></div>
                                    <div class="col-md-8"><span>Husbands ask repeated resolved but laughter debating. She end cordial visitor noisier fat subject general picture. Or if offering confined entrance no. Nay rapturous him see something residence. Highly talked do so vulgar. Her use behaved spirits and natural attempt say feeling. Exquisite mr incommode immediate he something ourselves it of. Law conduct yet chiefly beloved examine village proceed.&nbsp; </span></div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Name Mark Ho</h3></div>
                                <div class="panel-body">
                                    <div class="col-md-4"><img src="assets/img/avatar_2x.png"></div>
                                    <div class="col-md-8"><span>Husbands ask repeated resolved but laughter debating. She end cordial visitor noisier fat subject general picture. Or if offering confined entrance no. Nay rapturous him see something residence. Highly talked do so vulgar. Her use behaved spirits and natural attempt say feeling. Exquisite mr incommode immediate he something ourselves it of. Law conduct yet chiefly beloved examine village proceed.&nbsp; </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane active" role="tabpanel" id="tab-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Name of Testimonial Jame Bond</h3></div>
                                <div class="panel-body">
                                    <div class="col-md-4"><img src="assets/img/avatar_2x.png"></div>
                                    <div class="col-md-8"><span>Husbands ask repeated resolved but laughter debating. She end cordial visitor noisier fat subject general picture. Or if offering confined entrance no. Nay rapturous him see something residence. Highly talked do so vulgar. Her use behaved spirits and natural attempt say feeling. Exquisite mr incommode immediate he something ourselves it of. Law conduct yet chiefly beloved examine village proceed.&nbsp; </span></div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Name of Testimonial Jame Bond </h3></div>
                                <div class="panel-body">
                                    <div class="col-md-4"><img src="assets/img/avatar_2x.png"></div>
                                    <div class="col-md-8"><span>Husbands ask repeated resolved but laughter debating. She end cordial visitor noisier fat subject general picture. Or if offering confined entrance no. Nay rapturous him see something residence. Highly talked do so vulgar. Her use behaved spirits and natural attempt say feeling. Exquisite mr incommode immediate he something ourselves it of. Law conduct yet chiefly beloved examine village proceed.&nbsp; </span></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-3">
                            <p>Third tab content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <footer>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 footer-navigation">
                                <h3><a href="#">Company<span>logo </span></a></h3>
                                <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                                <p
                                class="company-name">Company Name © 2015 </p>
                            </div>
                            <div class="col-md-4 col-sm-6 footer-contacts">
                                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                                    <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
                                </div>
                                <div><i class="fa fa-phone footer-contacts-icon"></i>
                                    <p class="footer-center-info email text-left"> +1 555 123456</p>
                                </div>
                                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                                    <p> <a href="#" target="_blank">support@company.com</a></p>
                                </div>
                            </div>
                            <div class="clearfix visible-sm-block"></div>
                            <div class="col-md-4 footer-about">
                                <h4>About the company</h4>
                                <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                                </p>
                                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>